@model IEnumerable<CompanyFleetManagerWebApp.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rentals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Rented vehicle
            </th>
            <th>
                Renting employee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental.PlannedReturningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental.FactualReturningDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.Vehicle.ToString()
            </td>
            <td>
                    @item.Employee.ToString()
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Rental.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rental.PlannedReturningDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Rental.FactualReturningDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Rental.RentalId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Rental.RentalId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Rental.RentalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
